blinker==1.9.0
clickhouse-connect==0.8.17
cryptography==44.0.2
duckdb==1.2.2
grandalf==0.8
graphviz==0.20.3
hnswlib==0.8.0
httptools==0.6.4
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
langchain-chroma==0.2.3
langchain-community==0.3.22
langchain-nomic==0.1.4
langchain-ollama==0.3.1
langchain-openai==0.3.16
langfuse==2.60.4
langgraph==0.3.27
llama-index==0.12.28
matplotlib==3.10.1
opentelemetry-exporter-otlp-proto-http==1.33.0
ordered-set==4.1.0
pipdeptree==2.26.0
pipreqs==0.5.0
psutil==6.0.0
pulsar-client==3.6.1
PyMySQL==1.1.1
pyppeteer==2.0.0
reportlab==4.4.1
sentence-transformers==4.1.0
termcolor==2.4.0
tinycss2==1.4.0
watchfiles==1.0.5
Werkzeug==3.1.3